<!DOCTYPE rhtml>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <% file = File.open("web04/ex00/display-me.txt", "r") %>
        <% file.readlines.each do |l| %>
            <p><%= l.chomp %></p>
        <% end %>
        <% file.close %>
    </body>
</html>